$font-family: 'Roboto';
$text-color:#78829d;
$header-background:#2f364a;
$header-font-size: 12px;
$highlight-background: #15a4fa;
$highlight-background-font-color: #fff;
$side-panel-background: #141824;
$side-panel-section-background:#1f2637;
$main-header-background: #eef1f7;
$main-header-heading-font-color:#444c63;
$footer-background: #181e2c;
$footer-icon-color: #1f2637;
$add-book-btn-background-color:#f2795a;
$add-book-btn-text-color: white;
